<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/consulta.css') }}">
    <title>CEP</title>
</head>
<body>
<table>
    <tr>
    <th>Logradouro</th>
    <th>Bairro</th>
    <th>Localidade/UF</th>
    <th>CEP</th>
    </tr>
    <tr>
        <td>{{rua}}</td>
        <td>{{bairro}}</td>
        <td>{{localidade}}</td>
        <td>{{cep}}</td>
    </tr>
    <th>
        <button id="busca" onclick="location.href='/'">Nova Busca</button>
    </th>
</table>
</body>
</html>